{
	// I want to use babel-eslint for parsing!
	"parser": "babel-eslint",
	"env": {
		// I write for browser
		"browser": true,
		"es6": true,
		"node": true
	},
	"plugins": [
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
      		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"impliedStrict": true
		}
	},

	"extends": ["eslint:recommended", "plugin:react/recommended"]
}